body {
  margin: auto;
  background-color: #dbdbdb;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  user-select: none;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.sajjad-nav {
  display: flex;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #888;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

.brand img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border-radius: 50%;
  vertical-align: middle;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.accent {
  color: #444;
  margin-left: 5px;
}

.tagline {
  font-weight: 500;
  color: #6b7280;
  letter-spacing: 0.3px;
}

@media (max-width: 768px) {
  .sajjad-nav {
    flex-direction: column;
    gap: 0.5rem;
  }
  .tagline {
    font-size: 0.9rem;
  }
}

form {
  display: grid;
  width: 550px;
  margin: 50px auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  border: 1px solid transparent;
}

.form-left {
  background-color: white;
  padding: 25px;
  padding-right: 33px;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
}
.form-right {
  border-radius: 0px 10px 10px 0px;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assests/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 10px;
}

.form-right .logo {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
}

.form-left h1 {
  font-weight: 600;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.form-left a span {
  padding: 10px 0px;
  font-weight: 200;
  font-size: 0.8rem;
  color: rgb(74, 74, 244);
  transition: all 0.5s ease;
}

.form-left a span:hover {
  transform: scale(1.1);
}

span {
  font-weight: 200;
  font-size: 0.8rem;
  display: inline-block;
  color: #1f2937;
}

input {
  background-color: #e8f0fe;
  border: none;
  border-radius: 8px;
  width: 95%;
  height: 20px;
  padding: 5px 10px;
  margin: 8px 0px;
  margin-right: 20px;
}

input:focus {
  outline: none;
}

label {
  font-weight: 200;
  font-size: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0px;
  background-color: blue;
  color: white;
  width: 105%;
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.input-error{
  border: 1px solid red;
}

.error{
  color: red;
  font-size: 14px;
}

.pass-error{
  display: none;
}

.email-error{
  display: none;
}

@media (max-width: 768px) {
  .form-right .logo {
    display: none;
  }

  form {
    grid-template-columns: 1fr;
    margin: 40px auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }

  .form-right {
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
  }

  .form-left {
    grid-row: 2;
    grid-column: 1;
    border-radius: 0px 0px 10px 10px;
  }

  button {
    width: 100%;
  }
}
